extends ../layout

block body
  .alert.alert-success(role="alert")
    | Ваш адрес электронной почты не подтвержден. Для повторной отправки сообщения с кодом подтверждения перейдите по&nbsp;
    a(href="/user/resend-activation-code") ссылке
